main {
    /* font-size: 32px !important; */
}

main .msa-input-label {
    font-size: 2rem;
}

main label + .msa-input {
    margin-top: 3rem;
}

main .msa-input-adornment {
    font-size: 3rem;
}

main .msa-input-adornment-search {
    width: 3rem;
    height: 3rem;
}

#input-with-icon-adornment {
    font-size: 3rem;
}

main .container-fluid {
    margin-top: 15px;
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

@media (min-width: 360px) {
    .card-columns .card {
        min-width: 300px;
        max-width: 100%;
    }
    main .msa-form-control {
        width: 100%;
        margin: 10px auto;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        min-width: 300px;
        max-width: 95%;
    }
    main .msa-form-control {
        width: 100%;
        margin: 10px auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        min-width: 300px;
        max-width: 350px;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        min-width: 300px;
        max-width: 350px;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        min-width: 300px;
        max-width: 350px;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header .card-header-title {
    margin: 0;
}

.weather-icon .wi {
    font-size: 65px;
    color: #924da3;
}

.card-footer .wi {
    font-size: 25px;
}

.text-right-display-inherit div {
    text-align: right;
    display: inherit;
    padding-right: 10px;
    font-size: 1.2rem;
}

.msa-dialog-spinner > div:nth-child(1) {
    opacity: 0 !important;
}
.msa-dialog-spinner > div:nth-child(2) {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
