@import "./css/seven-days.css";

main label + .msa-input {
    margin-top: 2rem;
}

main .msa-input-adornment {
    font-size: 3rem;
}

main .container-fluid {
    margin-top: 15px;
}

html {
    overscroll-behavior: none;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

.theme-title-area {
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

.theme-title::first-letter {
    text-transform: capitalize;
}

.theme-title {
    width: 90%;
    font-size: 1.5rem;
}

.theme-page-title {
    font-size: 4rem;
    text-align: center;
}

header.msa-header {
    background-color: #924da3 !important;
}

#theme-root.theme-purple .card {
    border-color: #924da3 !important;
}

#theme-root.theme-blue .card {
    border-color: #007bff !important;
}

#theme-root.theme-indigo .card {
    border-color: #6610f2 !important;
}

#theme-root.theme-pink .card {
    border-color: #e83e8c !important;
}

#theme-root.theme-red .card {
    border-color: #dc3545 !important;
}

#theme-root.theme-orange .card {
    border-color: #fd7e14 !important;
}

#theme-root.theme-green .card {
    border-color: #28a745 !important;
}

#theme-root.theme-teal .card {
    border-color: #20c997 !important;
}

#theme-root.theme-cyan .card {
    border-color: #17a2b8 !important;
}

#theme-root.theme-purple header.msa-header {
    background-color: #924da3 !important;
}

#theme-root.theme-blue header.msa-header {
    background-color: #007bff !important;
}

#theme-root.theme-indigo header.msa-header {
    background-color: #6610f2 !important;
}

#theme-root.theme-pink header.msa-header {
    background-color: #e83e8c !important;
}

#theme-root.theme-red header.msa-header {
    background-color: #dc3545 !important;
}

#theme-root.theme-orange header.msa-header {
    background-color: #fd7e14 !important;
}

#theme-root.theme-green header.msa-header {
    background-color: #28a745 !important;
}

#theme-root.theme-teal header.msa-header {
    background-color: #20c997 !important;
}

#theme-root.theme-cyan header.msa-header {
    background-color: #17a2b8 !important;
}

header.msa-header h1 {
    font-size: 2rem;
    padding-top: 0px;
}

header.msa-header h1 a {
    box-sizing: border-box;
}

header.msa-header h1 .pipe {
    font-size: 1.5rem;
}

/* header.msa-header h1 a::before {
    content: " | ";
}
header.msa-header h1 a:first-of-type::before {
    content: "";
} */

@media (max-width: 360px) {
    .card-columns .card {
        min-width: 100% !important;
        max-width: 100% !important;
    }
    main .msa-form-control {
        width: 100%;
        margin: 10px auto;
    }

    #input-with-icon-adornment {
        font-size: 2rem;
        line-height: 2rem !important;
    }

    main .msa-input-adornment-search {
        width: 2rem;
        height: 2rem;
    }

    main .msa-input-label {
        font-size: 1.5rem;
    }

    .theme-page-title {
        font-size: 2rem;
        text-align: center;
        padding: 30px 0 10px 0;
    }
}

@media (min-width: 360px) {
    .card-columns .card {
        min-width: 100% !important;
        max-width: 100% !important;
    }
    main .msa-form-control {
        width: 100%;
        margin: 10px auto;
    }

    #input-with-icon-adornment {
        font-size: 2rem;
    }

    main .msa-input-adornment-search {
        width: 2rem;
        height: 2rem;
    }

    main .msa-input-label {
        font-size: 1.5rem;
    }

    .theme-page-title {
        font-size: 2.5rem;
        text-align: center;
        padding: 30px 0 10px 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        max-width: 95% !important;
        min-width: 95% !important;
    }
    main .msa-form-control {
        width: 100%;
        margin: 10px auto;
    }

    #input-with-icon-adornment {
        font-size: 2.5rem;
    }

    main .msa-input-adornment-search {
        width: 3rem;
        height: 3rem;
    }

    main .msa-input-label {
        font-size: 2rem;
    }

    .theme-page-title {
        font-size: 4rem;
        text-align: center;
        padding: 30px 0 10px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        max-width: 31% !important;
        min-width: 351px !important;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }

    #input-with-icon-adornment {
        font-size: 3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        max-width: 31% !important;
        min-width: 393px !important;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        max-width: 31% !important;
        min-width: 393px !important;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}
/* Extra large devices (large desktops, 1287px and up) */
@media (min-width: 1287px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        max-width: 31% !important;
        min-width: 393px !important;
    }

    main .msa-form-control {
        width: 500px;
        margin: 10px auto;
    }
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    height: 58px;
}

.card-header .card-header-right-side {
    float: right;
}

.card-header .card-header-right-side .save-button {
    position: relative;
    font-size: 0.5rem;
    text-align: right;
    color: #924da3;
    top: -2px;
}

#theme-root.theme-purple .card-header .card-header-right-side .save-button {
    color: #924da3;
}

#theme-root.theme-blue .card-header .card-header-right-side .save-button {
    color: #007bff;
}

#theme-root.theme-indigo .card-header .card-header-right-side .save-button {
    color: #6610f2;
}

#theme-root.theme-pink .card-header .card-header-right-side .save-button {
    color: #e83e8c !important;
}

#theme-root.theme-red .card-header .card-header-right-side .save-button {
    color: #dc3545 !important;
}

#theme-root.theme-orange .card-header .card-header-right-side .save-button {
    color: #fd7e14 !important;
}

#theme-root.theme-green .card-header .card-header-right-side .save-button {
    color: #28a745 !important;
}

#theme-root.theme-teal .card-header .card-header-right-side .save-button {
    color: #20c997 !important;
}

#theme-root.theme-cyan .card-header .card-header-right-side .save-button {
    color: #17a2b8 !important;
}

.save-button h1 {
    color: inherit;
    font-size: inherit;
    display: inline;
}

.save-button h1 a {
    color: inherit;
    font-size: 1.2rem;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.save-button.is-mobile h1 a {
    color: inherit;
    font-size: 1.2rem;
    padding-right: 0px;
    position: relative;
    top: 2px;
}

.save-button svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin-left: 0px;
}
.save-button svg:hover {
    color: red;
}
.save-button a:hover {
    color: red;
}

.save-button.is-mobile svg {
    margin-left: 13px;
}

.card-header .card-header-right-side .fetched-time {
    position: relative;
    font-size: 0.5rem;
    text-align: right;
}

.card-header .card-header-title {
    margin: 0;
    float: left;
}

.weather-icon .wi {
    font-size: 65px;
    color: #924da3;
}

#theme-root.theme-purple .weather-icon .wi {
    color: #924da3;
}

#theme-root.theme-blue .weather-icon .wi {
    color: #007bff;
}

#theme-root.theme-indigo .weather-icon .wi {
    color: #6610f2;
}

#theme-root.theme-pink .weather-icon .wi {
    color: #e83e8c !important;
}

#theme-root.theme-red .weather-icon .wi {
    color: #dc3545 !important;
}

#theme-root.theme-orange .weather-icon .wi {
    color: #fd7e14 !important;
}

#theme-root.theme-green .weather-icon .wi {
    color: #28a745 !important;
}

#theme-root.theme-teal .weather-icon .wi {
    color: #20c997 !important;
}

#theme-root.theme-cyan .weather-icon .wi {
    color: #17a2b8 !important;
}

.card-footer .wi {
    font-size: 25px;
}

.card {
    text-align: center;
    height: 268px;
    min-width: 328px;
}

.card .card-reload {
    margin: 10vh auto;
}
.weather-forecast .card-reload {
    width: 90px;
    height: 90px;
    position: absolute;
    left: calc(50vw - 45px);
    top: calc(50vh - 45px);
}

.text-right-display-inherit div {
    text-align: right;
    display: inherit;
    padding-right: 10px;
    font-size: 1.2rem;
}

.msa-dialog-spinner > div:nth-child(1) {
    opacity: 0.5 !important;
}

.msa-dialog-spinner > div:nth-child(2) {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}
